.superheroe {
  margin-top: 60px;
  margin-left: 15%;
  display: flex;
  width: 60%;
}
.superheroe-data {
  margin-left: 50px;
}

.inputs {
  width: 500px;
  margin-top: 20px;
}



.boton-eliminar {
  margin-left: 10px;
}